Wikipedia-API==0.5.4
streamlit==0.80.0
spacy-legacy==3.0.2
spacy==3.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.wh
